.more_zero{
    color: green;
}
.less_zero{
    color: red;
}
.default_zero{
    color: white;
}
.decreaseBtn{
    background-color: red;
}
.resetBtn{
    background-color: blue;
}
.increaseBtn{
    background-color: green;
}
.autoCountActive{
    background-color: blueviolet;
}
.autoCountNonActive{
    background-color: orange;
}